<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cinema E-Booking System</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign in</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" style="width: 75%;">
        <div class="row">
            <nav class="col-md-2 bg-dark sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                          1. Select Movie
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                          2. Select Show Time
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                          3. Select Seats
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                          4. Review Order
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                          5. Checkout
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                          6. Order Confirmation
                        </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="container-fluid" style="width: 100%;">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">Order Confirmation</h1></h1>
                    </div>

                    <div class="jumbotron text-center">

                        <h1 class="jumbotron-heading">Thank you for your order</h1>

                        <p class="lead" style="margin: 15px 0 0 0;">Your confirmation number is: <strong>BZ72TRON</strong></p>
                        <p class="lead" style="margin: 0 0 0 0;">You will also receive a confirmation email shortly.</p>
                        <a href="#">Print Your Receipt</a>

                        <div align="center" style="margin-top: 20px;">
                            <input type="submit" value="Home Page" class="btn">
                        </div>
                    </div>

                </div>
            </main>

        </div>
    </div>

</body>

</html>
