<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cinema E-Booking System</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/login}">Sign in</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Login</h1></h1>
        </div>

        <div class="card">
            <div class="card-body">
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username or password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="container">
                        <div class="form-group">
                            <label><b>E-Mail Address</b></label>
                            <input type="text" class="form-control" placeholder="Enter Email" name="username" id="username" required>
                        </div>

                        <div class="form-group">
                            <label><b>Password</b></label>
                            <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>
                        </div>

                        <div class="form-group">
                            <a th:href="@{/register}">Create an account</a>
                            <a th:href="@{/forgot_pass}" style="margin-left: 20px;">Forgot your password?</a>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                            <!--<div class="custom-control custom-checkbox" style="display: inline; margin-left: 10px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember Me</label>
                            </div>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>

</body>

</html>
