<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cinema E-Booking System</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign in</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Reset Password</h1></h1>
        </div>

        <div class="card">
            <div class="card-body">
                <form th:action="@{/reset_pass}" method="post">
                    <p class="error-message"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error
                    </p>

                    <div class="container">
                        <div class="form-group">
                            <label><b>Password <span style="color: red;">*</span></b></label>
                            <input id="password" name="password" type="password" class="form-control" placeholder="Enter New Password" required>
                        </div>

                        <div class="form-group">
                            <label><b>Repeat Password <span style="color: red;">*</span></b></label>
                            <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Repeat New Password"
                                   required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                            <!--<div class="custom-control custom-checkbox" style="display: inline; margin-left: 10px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember Me</label>
                            </div>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
